//Cambio el tema de color sustituyendo las variables para primary y secondary

$primary: #5265E1;
$secondary: #FA5959;
$light: #d3d2d2;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
);


// Variables personalizadas
$texto: #999999;
$accordion-button-icon:         url(../../img/icon-close.svg);
$accordion-button-active-icon:  url(../../img/icon-close.svg);
$navbar-light-toggler-icon-bg:  url(../../img/icon-hamburger.svg);

$box-shadow-sm: 0.225rem 0.225rem 0.55rem rgba(0, 0, 0, 0.18);
@import "../scss_boostrap/bootstrap.scss";

//______________________________

body {
    font: 1rem/1.5 var(--bs-font-sans-serif);
    padding-top: 18vh;
  }

  .container-fluid {
    overflow: hidden;
  }  

  .row {
    gap: 30px;
    justify-content: center;
  }
  
  .card {
    border: none;
  }
  
  .card-title {
    color: black;
    margin-bottom: 20px;
  }
  
  .card-text {
    color: $texto;
  }
  

// Barra navegación

#menu_principal {
    font-size: 0.9em;
    padding: 20px 4em;
}

@media(max-width: 768px) {

    body {
        padding-top: 10vh;
        text-align: center;
         
          
    }
    .navbar {
        background-color: #fffffff7;
        box-shadow: $box-shadow-sm;
    }
    div#navbarNav {
        margin-top: 40px;
        text-align: center;

        li.nav-item {
            padding: 20px;
            letter-spacing: 0.06em;
            border-top: 1px solid var(--bs-gray-600);
        
                button.btn.btn-secondary {
                    color: $texto;
                    background-color: initial;
                    border-color: var(--bs-gray-600);
                    width: 100%;
                }
        }        
    }    
}
@media (min-width: 768px) {

    #menu_principal{
        padding: 2em 4em;
        background-color: #fffffff7;
        box-shadow: $box-shadow-sm;
    }
    .navbar {
        //background-color: #d3d3d3f7;
        background-color: #fffffff7;
        box-shadow: $box-shadow-sm;
    }
    .navbar-expand-md .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: flex-end;

        li.nav-item {
            margin-left: 20px;
            letter-spacing: 0.06em;

            .navbar-collapse button {
                margin-left: 20px;
                letter-spacing: 0.06em;
                color: white;
            }
            button.btn.btn-secondary {
                color: white;
                box-shadow: $box-shadow-sm;
                letter-spacing: 0.06em;
                padding: 6px 20px;
            }
        }
    }

    div#navbarNav.navbar-collapse.collapse.show  {
        
        ul.navbar-nav {
            align-items: center; 
         }
    }
}

// Artículo 1 - Hero

#hero {
    padding: 0 4em;
    a {
    margin: 10px;
    }

    a.btn.btn-light {
    box-shadow: $box-shadow-sm;
    }

    @media (max-width: 992px) {
        .container-fluid {
          text-align: center;
        }   
      }
}

// Imágenes con fondo geométrico

article {

    .img_fondo {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 60px;
    }
  
    div.fondo {
      background-color: #5265E1;
      position: absolute;
      z-index: -1;
    }
  
    .dcha {
      bottom: -70px;
      left: -10vw;
      height: 96%;
      width: 87%;
      border-radius: 0 0 30% 0;
    }
  
    .izda {
      bottom: -13px;
      right: -10vw;
      height: 80%;
      width: 84%;
      border-radius: 0 0 0 30%;
    }
  }
  
  // Artículo 2 features

  #features {
    padding: 0 4em;

    .nav-tabs {
        border: none;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        flex-direction: column;
        flex-wrap: nowrap;
    }


    .nav-tabs, .nav-link, .nav-tabs:hover, .nav-link:hover, .nav-tabs:active, .nav-link:active {
        background: none;
        border: none;
    }

    .nav-tabs, .nav-link {
        border-bottom: 1px solid #d3d2d2;
        color: $texto;
    }

    .nav-link.active {
        color: black;
        font-size: large;
        border-width: medium;
        border-color: $secondary;
    }
  }
      @media (min-width: 992px) {
        
        #features .nav-tabs {
            border: none;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            flex-direction: row;
            align-items: center;
        }
      }

// Artículo 3 dowload
#dowload {

    padding: 0 4em;
    margin-bottom: 30px;

    .row {
        gap: 15px;
        justify-content: center;
        align-items: stretch;
        font-size: .8em;
        height: 450px;
        div:nth-child(1) {
            align-self: flex-start;
        }
        div:nth-child(2) {
            align-self: center ;
        }
        div:nth-child(3) {
            align-self: flex-end ;
        }
    }



    .card.h-100 {
        align-items: center;
    }  

    .card-img-top {
        max-width: 75%;
    }

    .col-sm.col-md-3 {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: $box-shadow-sm;
        padding: 20px;
        text-align: center;
        border-radius: 5px;
    }

    .card-img-top {
        max-width: 75%;
    }

    .card-footer {
        background-color: white;
        border-top: none;
        background-image: url(../../img/bg-dots.svg);
        background-repeat: repeat-x;
        background-position: top;
        padding: 25px 0 0 0;
    }

}
@media (min-width: 992px) {
        
    #dowload {
        margin-top: 100px;
    }
  }

  // Artículo 4 FAQs

#faqs {

    padding: 0 4em;
    margin-top: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;

      .accordion {
      --bs-accordion-active-bg: white;
    }
    
    .accordion-item {
      color: $texto;
     } 

    .accordion-button:focus {
      border-color:white;
      box-shadow:none;
    }

    .accordion-button:not(.collapsed) {
      color: black;
      border-bottom: 2px solid $secondary;
    }
    
    .accordion-button::after{
      background-image: url(../../img/icon-arrow.svg);
      background-color: white;
    }
    .col-md-6 {
      text-align: center;
  }

  }

  @media (min-width: 572px) {      
    #faqs {
       margin-top: 100px;
    }
  }


// Artículo 5 formulario

#pie {

    color: #ffffff;
    background-color: #5265E1;
    padding: 2em 4em;
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

  
    .col-lg:first-of-type {
      margin-top: 40px;
    }

    h6 {
      letter-spacing: 0.08em;
      font-size: .8em;
    }

    ::placeholder {
      color: $light;
      text-align: center;
    }
  
    button.btn.btn-secondary {
      color: white;
      box-shadow: 0.225rem 0.225rem 0.55rem rgba(0, 0, 0, 0.6);
      letter-spacing: 0.06em;
      padding: 6px 60px;
    }

    form {
      display: flex;
      margin-top: 0px;
      align-items: baseline;
      gap: 20px;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
  }

    .form-text {
      margin-top: 0.25rem;
      font-size: 0.875em;
      color: white;
    }
    input {
      z-index: 3;
      position: relative;
    }
    .alert-secondary {
      --bs-alert-color: white;
      --bs-alert-bg: #dc3545;
      --bs-alert-border-color: #dc3545;
      margin-top: -5px;
  }
  
}

#menu_pie {
  padding: 1em 4em;
  box-shadow: none;
  background-color: #3030de;
  margin: 0 -12px;
  justify-content: center;
  align-items: baseline;
  
  li {
    margin: 0 1em;
  }

  li.rrss {
    margin-left: 3em;
  }

  a {
    color:#ffffff
  }
}



  









// ______________________________________________

@media (max-width: 992px) {
    .container-fluid {
      text-align: center;
    }   
  }
